* {
  box-sizing: border-box;
}

body {
  margin: 10vmin;
  text-align: center;
  background-color: #fff;
}

.App {
  font-size: 2vw;
  background-color: #333333;
  border-radius: 5px;
  width: 40%;
  min-width: 180px;
  height: 40%;
  margin: auto;
  padding: 20px 5px;
}

button {
  font-size: 1.3vw; 
  border-radius: 2px;
  border: none;
  width: 20%;
  height: 30px;
  margin: 10px;
  padding: 0;
}

.start-stop-btn {
  background-color: #a2d194
}

.wait-btn {
  background-color: #fedc81
}

.reset-btn {
  background-color: #e84258
}